@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import "tailwindcss";

:root {
  font-size: 16px;
  font-family: "Pirata One", Arial, Helvetica, sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #202020;
  --text-secondary: #c14a4a;
  --text-gold: #ffd700;
  --text-infill: rgba(0, 0, 0, 0.35);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-gold: var(--text-gold);
  --color-text-infill: var(--text-infill);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-primary: #ededed;
    --text-secondary: #c14a4a;
    --text-gold: #ffd700;
    --text-infill: rgba(255, 255, 255, 0.35);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    Pirata One,
    Arial,
    Helvetica,
    sans-serif;
}
